@model IEnumerable<CnF.Domain.ViewModels.JobViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminView.cshtml";
}

<h2>Job Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValueUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImporterId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PortId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LCNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LCDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImporterId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PortId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LCNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LCDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
           
        </td>
    </tr>
}

</table>
